*.o
*.swp
*.swo
*.swn
*.so
*.os
*.cmd
config.log
cscope.out
bin/oncillamem
.sconsign.dblite
.sconf*
test/ocm_test
test/ib_client
test/ib_daemon
test/extoll_rma_client
test/extoll_rma_daemon
test/pmsg_client
test/pmsg_daemon
test/ocm_test
doc
